/* BASIC STYLINGS, OTHER BASIC STYLINGS ARE CONTAINED IN STYLE.CSS */

:root{
    --accordion-color:  rgb(50, 50, 50);
    --accordion-hover: rgb(60, 60, 60);
    --input-backround:#292929;
 }
 
 .light-theme{
    --accordion-color:  rgb(198, 198, 198);
    --accordion-hover: rgb(180, 191, 191);
    --input-backround:#292929;
 }
 

body{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}




/* SPECIAL HEADER STYLINGS FOR CONACT PAGE */
header .header-buttons .buttons .button-one{
    border: none;
}

header .header-buttons .button-two{
    border: 3px solid var(--main-color-hover);
    border-radius: 10px;
}

.light-click{
    margin-top: -120px;
}

.light-click label::after{
    display: none;
}





/* FLEX IMAGE STYLINGS */

.main-section{
    margin-top: 200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    height: 300px;
    border-radius: 10px;
}

.flex-image{
    display: flex;
    align-items: center;
    padding: 30px;
    column-gap: 20px;
}
.flex-main-image{
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 2s, opacity 2s;
}

.flex-sub-image{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 2s, opacity 2s;
}

.flex-sub-image img {
    height: 200px;
}
/* FLEX IMAGE STYLINGS ENDS */





/* PROFILE STYLINGS BEGINS */
.profile{
    max-width: 700px;
}

.profile .name{
    text-align: center;
}

/* the accordion stylings */
.accordion{
    margin: 60px auto;
    width: 600px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: var(--accordion-color);
    box-shadow: 6px 6px 10px -1px rgb(255, 255, 225, 0.3),
                -6px -6px 10px -1px rgb(0, 0, 0, 0.15);
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.accordion li{
 transition: background-color 1s;
}

.accordion li:hover {
    background-color: var(--accordion-hover);
}

/* this is to add an arrow showing wether the hidden-div is hidden or not */
label::after{
    font-family: "Font Awesome 5 Free";
    content: '\f150';
    font-size: x-large ;
    font-weight: 600;
    margin-right: 10px;
    position: absolute;
    width: 20px;
    height: 16px;
    top: 30%;
    right: 20px;
    transition: transform 1s;
    color: var(--main-color);
    background-color: white;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s, padding .5s;
}


/* this is to display the hidden div when it is checked */
.accordion input[type="radio"]:checked + label + .content{
    max-height: 700px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(180deg);
}
/* END OF THE PROFILE STYLINGS */






/* MEDIA QUERY ACROSS ALL DEVICE WIDTHS */
@media (width <= 1400px) {
    .main-section{
        display: flex;
        flex-direction: column;
    }
}


@media (width <= 900px) {
    .profile{
        scale: .9;
    }
}

@media (width <= 650px) {
    .profile{
        scale: .8;
    }
}

@media (width <= 610px) {
    .profile{
        scale: .7;
    }
}



@media (width <= 450px) {
    .flex-image, .profile{
        scale: 0.82;
    }
}

@media (width <= 550px) {
    .profile {
        scale: .6;
    }
}

@media (width <= 465px) {
    .profile, .profile .accordion{
        max-width: 450px;
        margin-right: 20px;
    }

    .profile{
        margin-top: -40px;
    }

    .flex-image{
        margin-top: -20px;
    }

}

@media (width <= 375px) {
    .flex-image{
        scale: .8;
    }
}

@media (width <= 350px) {
    .flex-image{
        scale: .7;
    }
}

@media (width <= 330px) {
    .flex-image{
        scale: .6;
    }

    .profile, .profile .accordion{
        max-width: 325px;
        margin-right: 30px;
    }

    .profile{
        margin-top: -100px;
    }
}

/* END OF MEDIA QUERIES */


/* INTERSECTION OBSERVER CSS PROPERTY */
.profile-observer{
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 2s, opacity 2s;
}

.toggle{
    opacity: 1;
    transform: none;
}